<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div class="container">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>이름</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="member : ${members}">
                        <!-- thymeleaf가 서버로 부터 전달받은 members리스트를 순회 -->
                        <td th:text="${member.id}"></td>
                        <td th:text="${member.name}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> <!-- /container -->
</body>

</html>